<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Laskuttaja</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.LaskuttajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletIndex</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.LoginServlet</servlet-class>
        <init-param>
            <param-name>univParam</param-name>
            <param-value>index</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServletlogInAttempt</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.LoginServlet</servlet-class>
        <init-param>
            <param-name>univParam</param-name>
            <param-value>logInAttempt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServletLogOut</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.LoginServlet</servlet-class>
        <init-param>
            <param-name>univParam</param-name>
            <param-value>logOut</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AsiakasServletIndex</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.AsiakasServlet</servlet-class>
        <init-param>
            <param-name>univParam</param-name>
            <param-value>index</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SuoriteServletIndex</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.SuoriteServlet</servlet-class>
        <init-param>
            <param-name>univParam</param-name>
            <param-value>index</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LaskuServletIndex</servlet-name>
        <servlet-class>Superlaskuttaja.Controllers.LaskuServlet</servlet-class>
        <init-param>
            <param-name>univParam</param-name>
            <param-value>index</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Laskuttaja</servlet-name>
        <url-pattern>/LaskuttajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Laskuttaja</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletlogInAttempt</servlet-name>
        <url-pattern>/LoginServletlogInAttempt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletLogOut</servlet-name>
        <url-pattern>/LoginServletLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletIndex</servlet-name>
        <url-pattern>/LoginServletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsiakasServletIndex</servlet-name>
        <url-pattern>/AsiakasServletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuoriteServletIndex</servlet-name>
        <url-pattern>/SuoriteServletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaskuServletIndex</servlet-name>
        <url-pattern>/LaskuServletIndex</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>laskuttaja.jsp</welcome-file>
    </welcome-file-list>
</web-app>
